*.iml
.gradle
/local.properties
.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/*
!/app/release/keepRules
/app/beta
/app/canary
/app/debug
signing.properties
/.kotlin
/library/hook
assets/系统桌面-com.miui.home-RELEASE-8.01.02.5334-260807-08151151-R.apk
